body {
	font-size: 14px;
	line-height: 34px;
	background: url("../images/darkness.png");

}

#headerCtnr {
	margin: 80px;
	padding: 20px;
	text-align: center;
}

.jumbo {
	padding: 20px;
	background-color: black;
	margin: 100px;
	color: white;
}

h1 {
	color: red;
	font-family: 'Gloria Hallelujah', cursive;
	text-align: center;
}

h2 {
	color: red;
	font-family: 'Gloria Hallelujah', cursive;
}

p {
	text-align: center;
	font-size: 20px;
}

#startBtn, #submitBtn {
	padding: 10px 20px;
}

.container4gif {
	text-align: center;
}
