body {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 14px;
	line-height: 34px;
	background: url("../images/darkness.png");
	text-align: center;
}

#headerCtnr {
	margin: 80px;
	padding: 20px;
}

.jumbo {
	padding: 100px;
	background-color: ghostwhite;
	margin: 40px;
}

h1 {
	color: red;
}

p {
	
}

#startBtn {
	padding: 10px 20px;

}
